body {
  font-family: Arial;
  margin: 0;
  background: #111;
  color: white;
}

header {
  text-align: center;
  padding: 40px;
  background: #000;
}

section {
  padding: 40px;
}

.card {
  background: #222;
  padding: 20px;
  margin: 10px 0;
  border-radius: 10px;
}